@charset "UTF-8";

/* Outras telas  */
/* 
Mobile: 360 x 640.
Mobile: 375 x 667.
Mobile: 360 x 720.
iPhone X: 375 x 812.
Pixel 2: 411 x 731.
Tablet: 768 x 1024.
Laptop: 1366 x 768.
High-res laptop or desktop: 1920 x 1080.
*/

/* Mobile first já foi feito. Começamos por ele  */


/* Impressora */
@media print {

}


/* Tablet */
@media screen and (min-width: 520px) and (max-width: 820px){
    body {
        background-image: url("../imagem/back-tablet.jpg");
    }

    #phone {display: none;}
    #tv {display: none;}
    #tablet {display: block;}
    #print {display: none;}
    #pc {display: none;}

}

/* Desktop */
@media screen and (min-width: 820px) and (max-width: 1000px) {
    body {
        background-image: url("../imagem/back-pc.jpg");
    }

    #phone {display: none;}
    #tv {display: none;}
    #tablet {display: none;}
    #print {display: none;}
    #pc {display: block;}
}


/* Telas Grandes */
@media screen and (min-width: 1000px) {
    body{
        background-image: url("../imagem/back-tv.jpg");
    }

    #phone {display: none;}
    #tv {display: block;}
    #tablet {display: none;}
    #print {display: none;}
    #pc {display: none;}
}