@charset "UF-8";


@media screen and (min-width: 750px) {
    header #burguer {
        display: none;
    }

    header menu {
        display: block;
    }

    header menu ul li {
        display: inline-block;
    }

    main {
        width: 650px;
    }
}