* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1180px;
    border: 1px solid yellow;
    margin: auto;
}

.header .container { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.432);
}

.header a {
    text-decoration: none;
    color: white;
    margin: 0px 10px;
    padding: 10px;
}

main .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4. 1fr);
    margin: auto;
    grid-gap: 20px;
}

main .container img {
    max-width: 350px;
    margin: auto;
    margin-top: 100px;
}

main .container div:nth-child(n + 4) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    justify-self: start;
}

main .container div:nth-child(n + 4) img {
    max-width: 280px;
    border: 2px solid black;
}

main .container div.anuncio {
    grid-column: 1;
    grid-row: 2 / 5;
    display: block;
    margin: auto;
}