@charset "UTF-8";

/* Estilo para impressoras */

*{
    padding: 10px;
    margin: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

/* Não mostre o menu para o modo de impressão */
menu {
    display: none;
}

main article {
    width: 100%;
}