@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.titulo {
    text-align: center;
    margin-bottom: 25px;
    font-size: 3em;
}

.form-ident-titulo {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    width: 100%;
    padding-left: 15px;
    font-size: 2em;
    padding:4px 0px;
}

.form-end-titulo {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    width: 100%;
    padding-left: 15px;
    font-size: 2em;
    padding:4px 0px;
}

.form-msg-titulo {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    width: 100%;
    padding-left: 15px;
    font-size: 2em;
    padding:4px 0px;
}

.form-ident-titulo-sexo {
    border-bottom: 1px solid gray;
    width: 100%;
    padding-left: 15px; 
}

body {
    background-color: rgba(119, 84, 84, 0.493);
    display: flex; /*Esssa linhas e as duas seguintes, usadas para centralizar o form*/
    flex-direction: column;
    align-items: center;
}

.form {
    background-color: white;
    box-shadow: 1px 1px 4px black;
    border: none;
    padding:10px 20px;
    
}

.form-ident {
    width: 500px;
    margin-top: 10px;
    margin-bottom: 50px;
    line-height: 2em;
    border: none;
}

.form-end {
    width: 500px;
    margin-bottom: 50px;
    line-height: 2em;
    border: none;
}

.form-msg {
    margin-bottom: 10px;
    line-height: 2em;
    border: none;
}

.form-ident-sexo {
    border: none;
}

#cmasc {
    margin-right: 20px;
}

#cmsg {
    border: 1px solid black;
    outline: none;
    padding: 5px;
}

.input-user {
    outline: none;
    padding: 5px;
    width: 350px;
    letter-spacing: 1px; 
    border: none;
    border-bottom: 1px solid black;
}

.input-user-data {
    width: 150px;
    border-radius: 5px;
    padding: 2px;
    outline: none; /*Tira o destaque nas bordas quando campo selecionado*/
    border: 1px solid black;
}

label:not([for="cmasc"], [for="cfem"], [for="cdata"], [for="curg"] ) { /*Aplique aos labels essa configuração, mennos nos labels ...*/
    display: inline-block; /*Para que eu possa usar a propriedade width nas labels*/
    width: 100px;
}